body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h2, h3 {
    color: #2E2F42;
}

ul {
    list-style: none;
}

img {
    display: block;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Хеадер */

.header {
    border-bottom: 1px solid #e7e9fc
}

.header-main-div {
    display: flex;
}

.navigation {
    display: flex;
    align-items: center;
}

.nav-logo {
    color: #4d5ae5;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    margin-right: 76px;
}

.nav-logo-span {
    color: #2e2f42;
}

.nav-ul {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 2%;
    line-height: 24px;
    display: flex;
    gap: 40px;
}

.adress-href{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 24px;
    color: #434455;
}

.nav-href {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
}

.header-href:hover, a:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
    display: flex;
    gap: 40px;
}

/* секція 1 */

.section-one {
    background-color: #2e2f42;
    padding: 188px 0;
}

.section-one-main-text {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
}

.main-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
}

.main-button:hover, button:focus {
    background-color: #404BBF;
}

/* секція 2 */

.section-twoo {
    padding: 120px 0;
}

.section-twoo h2 {
    visibility: hidden;
}

.section-twoo-ul {
    display: flex;
    gap: 24px;
}

.section-twoo-ul .ul_li {
    width: calc((100% - 72px) / 4);
}

.section-twoo-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.section-twoo-p {
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px
}

/* секція 3 */

.section-three {
    background-color: #F4F4FD;
}

.section-three-main-text {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.section-three-li {
    background-color: #FFFFFF;
}

.section-three-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section-three-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* секція 4 */

.section-four-main-text {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.section-four-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section-four-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* футер */

.footer {
    background-color: #2e2f42;
}

.footer-logo {
    color: #4d5ae5;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
}

.footer-logo-span {
    color: #f4f4fd;
}

.footer-p {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;;
}